# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# PyInstaller
build/
dist/
*.spec.bak

# Environment
.env
*.bak.*

# Data
*.db
*.sqlite
/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
techcamai.tgz

# Backups
*.tgz
*.tar.gz
*.diff
*.patch
